// Navbar
$nav-width-desktop: 280px;
$nav-width-mobile: 270px;
$nav-width-closed: 72px;

// Header
$header-height-desktop: 64px;
$header-height-mobile: 56px;
$header-border-bottom-width: 1px;

// Modal
$form-modal-header-height: 56px;
$form-modal-context-max-width: 700px;

// Badge
$badge-bg-status-blocked: #fef2f2;
$badge-color-status-blocked: #b91c1c;
$badge-border-color-status-blocked: #dc26261a;

$badge-bg-status-inactive: #fefcf8;
$badge-color-status-inactive: #854d0e;
$badge-border-color-status-inactive: #ca8a0433;

$badge-bg-status-active: #f0fdf4;
$badge-color-status-active: #15803d;
$badge-border-color-status-active: #16a34a33;
