$nav-width: 300px;
$nav-width-mobile: 260px;
$header-height-mobile: 56px;
$header-height: 64px;
$header-border-bottom-width: 1px;

$form-modal-header-height: 56px;
$form-modal-context-max-width: 700px;

body {
  font-size: 16px;
  color: #000000de;
}

:root {
  --nav-width: #{$nav-width};
  --nav-width-mobile: #{$nav-width-mobile};
  --header-height: #{header-height};
  --header-height-mobile: #{header-height-mobile};
  --header-border-bottom-width: #{$header-border-bottom-width};
  --main-content-margin-left: #{$nav-width};
  --main-content-margin-top: calc(
    #{$header-height} + #{$header-border-bottom-width}
  );

  --form-modal-header-height: #{$form-modal-header-height};
  --form-modal-content-max-width: #{$form-modal-context-max-width};
}

@tailwind base;
@tailwind components;
@tailwind utilities;
